.bg-light {
  border-bottom: 1px solid #fff;
  font-size: 14px;
}

.bg-light .second .dropdown {
  position: static !important;
}

.bg-light .dropdown-menu {
  font-size: 14px;
}

.bg-light .width .dropdown-menu {
  margin-left: 15px;
}

.bg-light .child {
  width: 100%;
}

.bg-light .content p {
  font-weight: bold;
  padding-top: 18px;
  padding-bottom: 10px;
}

.bg-light .nav-link {
  font-weight: bold;
  color: #eee !important;
}

.bg-light .nav-link:focus {
  color: #fff !important;
}

.bg-light .active {
  color: #fff !important;
}

.bg-light hr {
  margin-top: 7px !important;
  margin-bottom: 7px !important;
}

.bg-light li {
  cursor: pointer;
  color: rgba(85, 85, 85, 0.7);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.bg-light li:hover {
  color: #0ea195;
}

.bg-light li .num {
  background-color: #0ea195;
  color: #fff;
  padding: 0 5px;
  border-radius: 6px;
}

.bg-light .option {
  border: 1px solid #fff;
  border-radius: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.bg-light .option:hover {
  background-color: #ff9838;
  border: 1px solid #ff9838;
}

.bg-light .option .btn {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.bg-light .option .btn i {
  margin-right: 5px;
}

.bg-light .social {
  margin-left: 10px;
}

.bg-light .social i {
  color: #ddd;
  cursor: pointer;
  margin-left: 5px;
}

.bg-light .social i:hover {
  color: #fff;
}

.main {
  background: url("../imgs/study.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  -webkit-clip-path: ellipse(100% 56% at 51% 40%);
          clip-path: ellipse(100% 56% at 51% 40%);
}

.main .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(14, 161, 149, 0.8);
}

.main .overlay .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .overlay .content h1 {
  color: #fff;
  font-weight: bold;
  font-size: 45px;
}

.main .overlay .content p {
  text-align: center;
  width: 100%;
  color: #ddd;
  font-style: italic;
  font-size: 20px;
}

.main .overlay .content .option {
  border: 1px solid #fff;
  border-radius: 30px;
  display: inline-block;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.main .overlay .content .option:hover {
  background-color: #ff9838;
  border: 1px solid #ff9838;
}

.main .overlay .content .option .btn {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
}

.main .overlay .content .youtube {
  display: inline-block;
  color: #Fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 6px;
  cursor: pointer;
}

.university {
  background-color: #f5f5f5;
  margin-top: -115px;
  padding-top: 110px;
  padding-bottom: 50px;
}

.university .content h2 {
  font-weight: bold;
}

.university .content p {
  opacity: 0.5;
}

.university .content .comment {
  padding: 10px;
  border: 1px solid #694d4d52;
}

.university .content .comment .lead {
  opacity: 1;
}

.university .content .comment .name {
  opacity: 1;
  font-weight: bold;
  position: relative;
  margin-bottom: 0;
}

.university .content .comment .name::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #000;
  top: 12px;
  left: -16px;
}

.university .content img {
  width: 100%;
}

.popular {
  padding-bottom: 75px;
}

.popular h2 {
  padding-top: 50px;
}

.popular p {
  opacity: 0.5;
}

.popular .content {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-top: 50px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.popular .content img {
  width: 100%;
}

.popular .content .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 161, 149, 0.4);
  text-align: left;
}

.popular .content .overlay h4 {
  margin-top: 50%;
  margin-left: 15px;
  color: #fff;
  font-size: 20px;
}

.popular .content .overlay p {
  opacity: 1;
  margin-left: 15px;
  font-weight: bold;
  color: #ddd;
  opacity: 1;
}

.full .row {
  margin: 0;
}

.full .col-md-6 {
  padding-left: 0;
  padding-right: 0;
}

.full .col-md-6 .img {
  background: url("../imgs/img3.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.full .col-md-6 img {
  width: 100%;
}

.full .col-md-6 .img2 {
  background: url("../imgs/img4.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.full .col-md-6 .content2 {
  padding: 88px 20px;
  background-color: #fff !important;
}

.full .col-md-6 .content {
  padding: 88px 20px;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full .col-md-6 .content .con {
  width: 70%;
}

.full .col-md-6 .content .con h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.full .col-md-6 .content .con .lead {
  opacity: 0.7;
  font-style: italic;
}

.full .col-md-6 .content .con .explain {
  margin-bottom: 20px;
}

.full .col-md-6 .content .con .option {
  width: 31%;
  text-align: center;
  border: 1px solid #0ea195;
  border-radius: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.full .col-md-6 .content .con .option:hover {
  background-color: #0ea195;
  border: 1px solid #0ea195;
}

.full .col-md-6 .content .con .option .btn {
  color: #0ea195;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.full .col-md-6 .content .con .option .btn:hover {
  color: #fff;
}

.Request {
  background: url("../imgs/img5.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  height: 240px;
}

.Request .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 161, 149, 0.5);
}

.Request .overlay h2 {
  padding-top: 75px;
  color: #fff;
}

.Request .overlay p {
  color: white;
  opacity: 0.7;
  font-style: italic;
}

.Request .overlay .option {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 106%;
  border: 1px solid #fff;
  border-radius: 30px;
  display: inline-block;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.Request .overlay .option:hover {
  background-color: #ff9838;
  border: 1px solid #ff9838;
}

.Request .overlay .option .btn {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
}

.Upcoming {
  padding-bottom: 50px;
}

.Upcoming h2 {
  margin-top: 50px;
}

.Upcoming p {
  opacity: 0.7;
  margin-bottom: 55px;
}

.Upcoming .card {
  cursor: pointer;
  margin: 0 auto 25px;
}

.Upcoming .card:hover {
  -webkit-box-shadow: 10px 10px 10px rgba(127, 127, 204, 0.52), -10px -10px 10px rgba(127, 127, 204, 0.52);
          box-shadow: 10px 10px 10px rgba(127, 127, 204, 0.52), -10px -10px 10px rgba(127, 127, 204, 0.52);
}

.Upcoming .card .card-text {
  font-weight: bold;
  margin-bottom: 0;
}

.testmonial {
  background: url("../imgs/img8.jpg") no-repeat center center fixed;
  background-size: cover;
}

.testmonial .overlay {
  padding-bottom: 50px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(14, 161, 149, 0.75);
}

.testmonial .overlay h2 {
  font-weight: bold;
  color: white;
  padding: 60px 0 0 0;
}

.testmonial .overlay .title {
  color: #fff;
  opacity: 0.7;
  font-style: italic;
  padding-bottom: 50px;
}

.testmonial .overlay .content {
  background-color: #fff;
  padding: 12px;
  text-align: left;
  height: 160px;
  position: relative;
}

.testmonial .overlay .content::after {
  position: absolute;
  content: "";
  top: 160px;
  left: 35px;
  border-width: 12px;
  border-style: solid;
  border-color: #fff transparent transparent;
}

.testmonial .overlay .font {
  color: #ff9838;
}

.testmonial .overlay .img-content img {
  width: 85px;
  height: 85px;
  float: left;
  margin: 21px 0 0 10px;
}

.testmonial .overlay .img-content .info {
  margin: 45px 0 20px 24px;
  float: left;
}

.testmonial .overlay .img-content .info h5 {
  margin-bottom: 0;
  color: #fff;
  font-weight: bold;
}

.testmonial .overlay .img-content .info p {
  opacity: 0.7;
  color: #fff;
}

.Join {
  background-color: #f5f5f5;
}

.Join h3 {
  padding-top: 50px;
  color: #000;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.Join p {
  color: #000;
  opacity: .7;
  margin-bottom: 20px;
}

.Join .but {
  position: relative;
  width: 50%;
  margin-left: 25%;
  z-index: 2;
  top: 20px;
}

.Join .but input {
  width: 100%;
  height: 44px;
  border-radius: 20px;
  padding: 15px;
  border: 1px solid #eee;
}

.Join .but input:focus {
  outline: none;
}

.Join .but button {
  position: absolute;
  top: 4px;
  right: 5px;
  border-radius: 50%;
  color: #fff;
  border: 0;
  background-color: #ff9838;
  width: 35px;
  height: 35px;
  line-height: 29px;
}

.Footer {
  background-color: #212121;
  padding-top: 70px;
  padding-bottom: 40px;
}

.Footer p {
  font-weight: bold;
  padding-top: 18px;
  padding-bottom: 10px;
  color: #fff;
  cursor: pointer;
}

.Footer li {
  color: #fff;
  cursor: pointer;
}

.Footer li:hover {
  color: #0ea195;
}

.Footer hr {
  background-color: #fff;
  margin: 10px 0;
}

.Footer .content .card {
  background-color: #212121;
  border: none;
  margin-bottom: 0 !important;
}

.Footer .content .card .col-md-4 {
  width: 85px;
}

.Footer .content .card .col-md-8 {
  width: calc(100% - 85px);
}

.Footer .content .card .card-body {
  padding: 0;
}

.Footer .content .card .card-body .card-title {
  padding-top: 0;
  padding-left: 10px;
  font-size: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.Footer .content .card .card-body .card-text {
  padding-top: 0;
  padding-left: 10px;
  padding-bottom: 0;
}

.Footer .content hr {
  margin: 7.5px 0;
}

.Footer .num {
  background-color: #0ea195;
  color: #fff;
  padding: 0 5px;
  border-radius: 6px;
}

.Footer .Copyright {
  color: #fff;
  padding-top: 20px;
}

@media (min-width: 320px) {
  .bg-light {
    background-color: #0ea195 !important;
  }
  .bg-light .width .dropdown-menu {
    margin-left: 0 !important;
  }
}

@media (min-width: 768px) {
  .bg-light .width .dropdown-menu {
    margin-left: 0px !important;
  }
  .bg-light {
    background-color: #0ea195 !important;
  }
}

@media (min-width: 992px) {
  .bg-light .width .dropdown-menu {
    margin-left: 15px !important;
  }
  .color2 {
    background-color: #0ea195 !important;
  }
  .bg-light {
    background-color: transparent;
  }
}

@media (min-width: 320px) {
  .university {
    padding-top: 160px !important;
    text-align: center;
  }
  .university .content h2 {
    margin-top: -10px !important;
  }
  .university .content .comment {
    margin-bottom: 10px !important;
  }
  .university .content .comment .name::before {
    display: none;
  }
  .university img {
    margin-top: 0 !important;
  }
}

@media (min-width: 576px) {
  .university .content .comment {
    margin-bottom: 5pxpx !important;
  }
  .university .content img {
    margin-top: 0px !important;
  }
}

@media (min-width: 992px) {
  .university {
    padding-top: 110px !important;
    text-align: left;
  }
  .university .content h2 {
    margin-top: 4rem !important;
  }
  .university .content .comment {
    margin-bottom: 0px !important;
  }
  .university .content .comment .name::before {
    display: block;
  }
  .university img {
    margin-top: 0 !important;
  }
}

@media (min-width: 320px) {
  .full .content .con {
    text-align: center;
    width: 100% !important;
  }
  .full .content .con .option {
    margin: 0 34.5%;
  }
}

@media (min-width: 576px) {
  .full .content .con {
    text-align: center;
    width: 100% !important;
  }
  .full .content .con h3 {
    font-size: 15px;
  }
  .full .content .con .explain {
    font-size: 14px !important;
  }
  .full .content .con .option {
    margin: 0 34.5%;
  }
}

@media (min-width: 992px) {
  .full .content .con {
    text-align: left;
    width: 70% !important;
  }
  .full .content .con h3 {
    font-size: 28px;
  }
  .full .content .con .explain {
    font-size: 17px;
  }
  .full .content .con .option {
    margin: 0 34.5%;
  }
}

@media (min-width: 320px) {
  .Request {
    height: 360px !important;
    text-align: center !important;
  }
  .Request .overlay .option {
    margin-top: 0px !important;
    margin-bottom: 25px !important;
    width: 100% !important;
  }
}

@media (min-width: 768px) {
  .Request {
    height: 240px !important;
    text-align: left !important;
  }
  .Request .overlay .option {
    text-align: center;
    margin-top: 100px !important;
    margin-bottom: 25px !important;
    width: 113% !important;
  }
}

@media (min-width: 992px) {
  .Request {
    height: 240px !important;
    text-align: left !important;
  }
  .Request .overlay .option {
    text-align: center;
    margin-top: 100px !important;
    margin-bottom: 25px !important;
    width: 106% !important;
  }
}

@media (min-width: 320px) {
  .Join .but {
    width: 100%;
    margin-left: 0;
  }
}

@media (min-width: 576px) {
  .Join .but {
    width: 50%;
    margin-left: 25%;
  }
}
/*# sourceMappingURL=layout.css.map */