
.bg-light{
    border-bottom: 1px solid #fff;
    font-size: 14px;
    .second {
        .dropdown{
            position: static !important;
        }
    }
    .dropdown-menu{
        font-size: 14px;
    }
   .width{
       .dropdown-menu{
           margin-left: 15px;
       }
   }
   .child{
       width: 100%;
   }
   .content
   {
       p{
           font-weight: bold;
           padding-top: 18px;
           padding-bottom: 10px;
       }
   }
   .nav-link{
       font-weight: bold;
       color: #eee !important
   }
   .nav-link:focus{
    color: #fff !important
   }
   .active{
       color: #fff !important;
   }
   hr{
       margin-top: 7px !important;
       margin-bottom: 7px !important;
   }
   li{
       cursor: pointer;
       color: rgba(85, 85, 85, 0.7);
       transition: all 0.5s ease-in-out;
       &:hover{
           color: #0ea195 ;
       }
       .num{
        background-color: #0ea195;
        color: #fff;
        padding: 0 5px;
        border-radius: 6px;
       }
   }
   .option{
        border: 1px solid #fff;
        border-radius: 30px;
        transition: all 0.5s ease-in-out;
        &:hover{
            background-color: #ff9838;
        border: 1px solid #ff9838;

        }
       .btn{
           color: #fff;
           font-size: 14px;
           font-weight: bold;
           text-transform: uppercase;
           i{
               margin-right: 5px;
           }
       }
   }
   .social{
       margin-left: 10px;
       i{
         color: #ddd;
         cursor: pointer;
         margin-left: 5px;
         &:hover{
             color: #fff;
         }
       }
   }
}