$smallmobile:"(min-width: 320px)";
$normallmobile:"(min-width: 576px)";
$mobile:"(min-width: 768px)";
$mediumscreen:"(min-width: 992px)";
$largscreen:"(min-width:1200px)";

// Navbar 
@media#{$smallmobile}{
    .bg-light{
        background-color: #0ea195 !important;
    }
    .bg-light .width .dropdown-menu{
        margin-left: 0 !important;
    }
}
@media#{$mobile}{
    .bg-light .width .dropdown-menu{
        margin-left: 0px !important;
    }
    .bg-light{
        background-color: #0ea195 !important;
    }
}
@media#{$mediumscreen}{
    .bg-light .width .dropdown-menu{
        margin-left: 15px !important;
    }
    .color2{
        background-color: #0ea195 !important;
    }
    .bg-light{
        background-color:transparent ;
    }
}

// University

@media#{$smallmobile}{
    .university{
        padding-top: 160px !important;
        text-align: center;
        .content{
            h2{
                margin-top: -10px !important;
            }
            .comment{
                margin-bottom: 10px !important;
                .name{
                    &::before{
                        display: none;
                    }
            }
            }
        }
        img{
            margin-top: 0 !important;
        }
    }
}
@media#{$normallmobile}{
 .university{
     .content{
         .comment{
             margin-bottom: 5pxpx !important;
         }
         img{
             margin-top: 0px !important;
         }
     }
 }
}
@media#{$mediumscreen}{
    .university{
             padding-top: 110px !important;
        text-align: left;
        .content{
            h2{
                margin-top: 4rem !important;
            }
            .comment{
                margin-bottom: 0px !important;
                .name{
                    &::before{
                        display: block;
                    }
            }
            }
        }
        img{
            margin-top: 0 !important;
        }
    }
}

// full

@media#{$smallmobile}{
    .full{
        .content{
           
            .con{
                text-align: center;
                width: 100% !important;
                .option{
                    margin: 0 34.5%;
                }
            }
        }
    }
}
@media#{$normallmobile}{
    .full{

        .content{
            
            .con{
                text-align: center;
                width: 100% !important;
                
                h3{
                    font-size: 15px;
                }
                .explain{
                    font-size: 14px !important;
                }
                .option{
                    margin: 0 34.5%;
                }
            }
        }
    }
}
@media#{$mediumscreen}{
    .full{
        .content{
            
            .con{
                text-align: left;
                width: 70% !important;
               
                h3{
                    font-size: 28px;
                }
                .explain{
                    font-size: 17px;
                }
                .option{
                    margin: 0 34.5%;
                }
            }
        }
    }
}

//  Requst

@media#{$smallmobile}{
.Request{
    height: 360px !important;
    text-align: center !important;
    .overlay{
        .option{
            margin-top: 0px !important;
            margin-bottom: 25px !important;
            width: 100% !important;
        }
    }
    }
}
@media#{$mobile}{
    .Request{
        height: 240px !important;
        text-align: left !important;
        .overlay{
            .option{
                text-align: center;
                margin-top: 100px !important;
                margin-bottom: 25px !important;
                width: 113% !important;
            }
        }
        }
}
@media#{$mediumscreen}{
    .Request{
    height: 240px !important;
    text-align: left !important;
    .overlay{
        .option{
            text-align: center;
            margin-top: 100px !important;
            margin-bottom: 25px !important;
            width: 106% !important;
        }
    }
    }
}

//  Join

@media#{$smallmobile}{
    .Join{
        .but{
            width: 100%;
            margin-left: 0;
        }
    }
    }
    @media#{$normallmobile}{
        .Join {
            .but{
                width: 50%;
                margin-left: 25%;
            }
        }
    }

    // Footer

